<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
</head>
<body>
    <!-- <form action="" method="post" action="{{url_for('predict')}}">
        <input type="text" name="area" placeholder="Area"><br>
        <input type="text" name="bedroom" placeholder="Bedrooms"><br>
        <input type="text" name="age" placeholder="Age"><br>
        <label>{{pred}}</label>
        <button type="submit">Submit</button>
    </form> -->

    <div class="container">
        <!-- Contact Banner Start-->
        <div class="contact" id="contact">
                <div class="heading">
                    <h3>House Prediction Form</h3>
                </div>
            <div class="contact-form">
                <div class="contformimg">
                    <!-- <img src="{{url_for('static',filename='img/contact1.png')}}" alt="no contact form"> -->
                    <img src="{{url_for('static', filename='css/img/contact1.png')}}" alt="no img">
                </div>
                <form method="post" action="{{url_for('predict')}}">
                    <input type="text" name="area" placeholder="Area"><br>
                    <input type="text" name="bedroom" placeholder="Bedrooms"><br>
                    <input type="text" name="age" placeholder="Age"><br>  
                    <label aria-placeholder="House Sale Prediction">{{pred}}</label>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- Contact Banner End-->
    </div>
</body>
</html>